* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --white-color: #ffffff;
  --primary-dark-color: #0C1010;
  --secondary-dark-color: #171F1F;
  --primary-light-color: #6B9F9F;
  --primary-yellow-color: #F2DC8C;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
