.mainContainer {
  height: 180px;
  background-color: var(--secondary-dark-color);
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.nameContainer {
  width: 280px;
  color: var(--primary-light-color);
}

.nameContainer h2 {
  font-weight: 400;
}

.contactAndTitleContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-light-color);
}

.contactAndTitleContainer h2 {
  text-decoration: underline;
}